@import '../../Styles/responsive.scss';
@import '../../styles/colors.scss';

.input-container{
    width: 80%;
    height: auto;
    margin: 0;
    text-align: center;
    padding-top: 5%;
    margin: 0 auto;
}