/* BOTONES */

.btn-primary {
    cursor: pointer;
  }
  
.btn-white {
  cursor: pointer;
  border: 1px solid currentColor;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 100;
  overflow: hidden;
  padding: 0.6rem 1.1rem;
  position: relative;
  transition: .2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
  background-color: transparent;
  text-decoration: none;

  &::after {
      background-color: #fff;
      border-radius: 0.5rem;
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(-100%, 0) rotate(10deg);
      transform-origin: top left;
      transition: .2s transform ease-out;
      will-change: transform;
      z-index: -1;
  }

  &:hover::after {
      transform: translate(0, 0);
  }

  &:hover {
      border: 1px solid transparent;
      color: #042B73;
      will-change: transform;
  }
}