@import '../../styles/responsive.scss';

.navbar-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

    &__icons-i {
        font-size: 30px;
        color: #fff;
        margin-left: 10px;
    }

    @include tablet {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__nav {
            display: block;
        }

        &__nav-link {
            color: #fff;
            margin-right: 20px;
            text-decoration: none;
        }
    }
}