@import '../../styles/responsive.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

    &__nav {
        display: none;
    }

    &__logo {
        font-size: 28px;
        font-weight: 900;
        background: linear-gradient(90deg, #00ad81, #00ffbe);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }

    &__icons-i {
        font-size: 30px;
        color: #fff;
        margin-left: 10px;
    }

    @include tablet {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__nav {
            display: block;
        }

        &__nav-link {
            color: #fff;
            margin-right: 20px;
            text-decoration: none;
        }
    }
}