@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import './Styles//buttons.scss';

* {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, input, a, label {
  font-family: Poppins, sans-serif;
}

/* Este es el fondo azul de la pantalla principal*/
.background-blue {
    background: rgb(22,35,64);
    background: linear-gradient(180deg, rgba(22,35,64,1) 0%, rgba(0,46,129,1) 100%);
}



